# Data Prep

In [17]:
import pandas as pd

df = pd.read_csv("../data/data.csv")
goals = ['goal1', 'goal2', 'goal3', 'goal4', 'goal5', 'goal6', 'goal7', 'goal8', 'goal9', 'goal10', 'goal11', 'goal12', 'goal13', 'goal14', 'goal15', 'goal16', 'goal17']
countries = df['Country'].unique()
print(f"the dataset has {len(countries)} countries and {len(goals)} goals")

the dataset has 167 countries and 17 goals

In [ ]:
goals_with_missing_values = [goal for goal in goals if df[goal].isnull().sum() > 0]
countries_with_missing_values = df[df[goals_with_missing_values].isnull().any(axis=1)]['Country'].unique()
print(f"only {len(countries_with_missing_values)} countries have missing values and only for the goals {goals_with_missing_values}")

print(f"there are {impossible} impossible models and {possible} possible models")

only 57 countries have missing values and only for the goals ['goal1', 'goal10', 'goal14']
there are 70 impossible models and 2769 possible models

In [31]:
print(f"from the total of {len(countries)} countries and {len(goals)} goals we should be able to make {len(countries)*len(goals)} models")
impossible, possible = 0, 0
for country in countries:
    for goal in goals:
        if pd.isnull(df.loc[df['Country'] == country, goal].values[0]):
            impossible += 1
        else:
            possible += 1
print(f"but we can't make {impossible} models because of the countries with missing values")
print(f"so we are going to focus on the {(len(countries)*len(goals)) - impossible} models we can do based on the dataset we have")

from the total of 167 countries and 17 goals we should be able to make 2839 models
but we can't make 70 models because of the countries with missing values
so we are going to focus on the 2769 models we can do based on the dataset we have

In [ ]:
def check_possibilities(df):
    possible, impossible = 0,0
    for country in countries:
        for goal in goals:
            if pd.isnull(df.loc[df['Country'] == country, goal].values[0]):
                impossible += 1
            else:
                possible += 1
    return impossible, possible

print(f"With the dataset with size {df.shape} we can make {check_possibilities(df)[1]} models and we can't make {check_possibilities(df)[0]} models")
cleaned_df = pd.DataFrame()
for country in countries:
    for goal in goals:
        cleaned_df = pd.concat([cleaned_df, df[country].dropna(subset=[goal])])
print(f"but if we remove the rows with missing values we can make {check_possibilities(cleaned_df)[1]} models and we can't make {check_possibilities(cleaned_df)[0]} models")

With the dataset with size (4008, 20) we can make 2769 models and we can't make 70 models

IndexError: index 0 is out of bounds for axis 0 with size 0

In [55]:
import pandas as pd
df_melted = pd.melt(df, id_vars=['Country', 'year'], 
                    value_vars=[f'goal{i}' for i in range(1, 18)], 
                    var_name='goal_number', value_name='goal_value')
df_melted.rename(columns={'Country': 'country'}, inplace=True)
df_melted = df_melted[['country', 'year', 'goal_value', 'goal_number']]

print(f"dataset original: {df.shape}")
print("17 objetivos multiplicados por 4008 linhas (países * anos) dá 68136")
print("dataset derretido: ", df_melted.shape)
print("dataset derretido tem 68136 linhas, então está correto")

dataset original: (4008, 20)
17 objetivos multiplicados por 4008 linhas (países * anos) dá 68136
dataset derretido:  (68136, 4)
dataset derretido tem 68136 linhas, então está correto

In [62]:
df_non_null = df_melted.dropna(subset=['goal_value'])
print(f"dataset original: {df_melted.shape}")
print(f"dataset sem valores nulos: {df_non_null.shape}")

dataset original: (68136, 4)
dataset sem valores nulos: (66456, 4)

In [57]:
df_non_null.head(20)

,id,Country,year,goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9,goal10,goal11,goal12,goal13,goal14,goal15,goal16,goal17
24,ALB,Albania,2000,87.0,46,74,86,37,72,75,60,20,84.0,83,83,92,35.0,68,71,63
25,ALB,Albania,2001,88.0,45,74,88,37,72,73,60,20,84.0,83,83,92,35.0,68,70,63
26,ALB,Albania,2002,90.0,45,75,88,37,72,72,60,20,84.0,83,82,92,35.0,68,70,62
27,ALB,Albania,2003,92.0,43,75,88,38,72,72,61,20,84.0,83,82,91,37.0,68,70,62
28,ALB,Albania,2004,93.0,43,75,89,38,72,74,61,20,84.0,84,80,91,38.0,71,70,63
29,ALB,Albania,2005,94.0,43,75,89,39,72,75,61,20,88.0,84,81,90,37.0,72,70,63
30,ALB,Albania,2006,94.0,43,75,89,39,72,74,61,21,88.0,84,81,88,37.0,72,70,62
31,ALB,Albania,2007,96.0,44,76,91,40,73,72,61,22,88.0,84,81,89,39.0,74,68,63
32,ALB,Albania,2008,97.0,46,77,91,40,73,76,63,23,90.0,85,81,89,39.0,74,68,62
33,ALB,Albania,2009,96.0,46,78,90,40,73,78,62,26,90.0,85,81,89,39.0,74,69,63
34,ALB,Albania,2010,96.0,47,79,92,45,73,80,62,26,90.0,86,81,89,44.0,81,68,62
35,ALB,Albania,2011,96.0,47,80,94,47,74,77,62,27,90.0,84,80,89,44.0,82,68,62
36,ALB,Albania,2012,96.0,48,81,97,48,75,81,63,32,94.0,86,81,90,44.0,83,68,61
37,ALB,Albania,2013,94.0,48,80,96,46,75,83,60,34,94.0,86,81,90,47.0,83,67,61
38,ALB,Albania,2014,92.0,47,81,96,48,75,80,60,35,75.0,88,80,89,45.0,83,62,62
39,ALB,Albania,2015,97.0,47,81,95,49,76,83,59,36,82.0,87,81,90,43.0,83,66,63
40,ALB,Albania,2016,96.0,46,81,96,50,76,84,60,36,78.0,88,81,90,44.0,83,66,64
41,ALB,Albania,2017,97.0,57,82,95,50,76,81,61,38,81.0,88,81,90,45.0,83,66,65
42,ALB,Albania,2018,97.0,57,83,97,53,76,84,63,39,91.0,88,80,90,45.0,83,66,67
43,ALB,Albania,2019,98.0,58,83,95,55,76,84,63,40,90.0,88,80,90,49.0,83,66,67