In [2]:
# Import pandas
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../data/data.csv")
df['year'] = pd.to_datetime(df['year'], format='%Y')
df.set_index('year', inplace=True)
df.drop('id', axis=1, inplace=True)
df.head(5)

,Country,goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9,goal10,goal11,goal12,goal13,goal14,goal15,goal16,goal17
year,,,,,,,,,,,,,,,,,,
2000-01-01,Afghanistan,8.0,27,19,2,18,14,19,44,5,NaN,34,96,99,NaN,56,42,36
2001-01-01,Afghanistan,8.0,30,19,2,18,13,22,44,5,NaN,31,96,99,NaN,56,42,36
2002-01-01,Afghanistan,9.0,30,20,2,18,16,21,44,5,NaN,32,95,99,NaN,56,42,36
2003-01-01,Afghanistan,10.0,32,20,2,18,17,24,44,5,NaN,32,95,98,NaN,56,42,36
2004-01-01,Afghanistan,10.0,31,22,2,18,16,27,44,5,NaN,33,96,98,NaN,56,42,36

In [3]:
import numpy as np
import matplotlib.pyplot as plt

cols = df.columns[3:]
country_id = "VEN"
data = df[df['country_id'] == country_id]
years = data.index
for col in cols:
    plt.plot(years, data[col])

plt.legend(cols, loc='center left', bbox_to_anchor=(1, 0.5))
plt.show()

KeyError: 'country_id'